---
import WaitListForm from "../components/waitlist/waitlistform";
import "@fontsource/inter/variable.css";

const { generator, site } = Astro;
const image = new URL("social.jpeg", site);
const description =
  "RochaGPT - Conectando pessoas, empresas e comunidades com IA. Simplifique a integração de IA com o ©WhatsApp e leve sua comunicação ao próximo nível com o RochaGPT, a plataforma que conecta pessoas, empresas e comunidades.";

const title = "WaitList RochaGPT";

const makeTitle = title
  ? title + " | " + "RochaGPT"
  : "RochaGPT - Conectando pessoas, empresas e comunidades com IA";
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
    <meta name="generator" content={generator} />

    <title>{makeTitle}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="RochaGPT" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZZFLHWJ26"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-VZZFLHWJ26");
    </script>
  </head>

  <body class="scroll-smooth">
    <main class="flex min-h-screen items-center bg-gray-800">
      <section class="h-full w-full">
        <WaitListForm client:load />
      </section>
    </main>
  </body>
  <style is:global>
    #fire-button {
      display: flex;
      justify-content: center;
      rotate: -40deg;
      padding: 0 15px 0 15px;
      font-size: 17px;
      font-weight: 700;
      text-shadow: 1px 1px 2.3px rgba(255, 255, 255, 0.8);
      position: relative;
      width: 32px;
      height: 20px;
      margin: 4em 0;
      border-radius: 100% 9% 9% 100% / 0% 100% 100% 0%;
      border: none;
      background-image: linear-gradient(
        180deg,
        #8bc673,
        #7e6f39,
        #c1c093,
        #e7ffbf,
        #7e6e3e,
        #5a4219,
        #c4d197,
        #9e924e,
        #8e7f55
      );
    }

    #fire-button::before {
      content: "";
      height: 24px;
      width: 10px;
      position: absolute;
      top: -4.7%;
      left: -5.9%;
      border-radius: 100% 31% 28% 100% / 0% 100% 100% 0%;
      background-image: linear-gradient(
        180deg,
        #b3c373,
        #688c2b,
        #8aad53,
        #e3f6b7,
        #687a2f,
        #4e4818,
        #a9bc59,
        #7e8d35,
        #667a41
      );
    }

    .bullet {
      height: 20px;
      width: 30px;
      position: absolute;
      top: 2.1%;
      left: 95%;
      border-radius: 10% 100% 100% 10% / 10% 50% 50% 10%;
      background-image: linear-gradient(
        180deg,
        #b3c373,
        #688c2b,
        #8aad53,
        #e3f6b7,
        #687a2f,
        #4e4818,
        #a9bc59,
        #7e8d35,
        #667a41
      );
      z-index: -1;
    }

    #fire-button:active .bullet {
      left: 115%;
      transition: all 0.2s;
    }

    .spinnerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .spinner {
      width: 56px;
      height: 56px;
      display: grid;
      border: 4px solid #0000;
      border-radius: 50%;
      border-right-color: #00efa0;
      animation: tri-spinner 1s infinite linear;
    }

    .spinner::before,
    .spinner::after {
      content: "";
      grid-area: 1/1;
      margin: 2px;
      border: inherit;
      border-radius: 50%;
      animation: tri-spinner 2s infinite;
    }

    .spinner::after {
      margin: 8px;
      animation-duration: 3s;
    }

    @keyframes tri-spinner {
      100% {
        transform: rotate(1turn);
      }
    }

    .loader {
      color: #ffff;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 25px;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      height: 40px;
      padding: 10px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 8px;
    }

    .words {
      overflow: hidden;
    }

    .word {
      display: block;
      height: 100%;
      padding-left: 6px;
      color: #00efa0;
      animation: cycle-words 5s infinite;
    }

    @keyframes cycle-words {
      10% {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
      }

      25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
      }

      35% {
        -webkit-transform: translateY(-205%);
        transform: translateY(-205%);
      }

      50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
      }

      60% {
        -webkit-transform: translateY(-305%);
        transform: translateY(-305%);
      }

      75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
      }

      85% {
        -webkit-transform: translateY(-405%);
        transform: translateY(-405%);
      }

      100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
      }
    }
  </style>
</html>
