---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const { generator, site } = Astro;
const image = new URL("social.jpeg", site);
const description =
  "RochaGPT - Conectando pessoas, empresas e comunidades com IA. Simplifique a integração de IA com o ©WhatsApp e leve sua comunicação ao próximo nível com o RochaGPT, a plataforma que conecta pessoas, empresas e comunidades.";

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "RochaGPT"
  : "RochaGPT - Conectando pessoas, empresas e comunidades com IA";
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
    <meta name="generator" content={generator} />

    <title>{makeTitle}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="RochaGPT" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZZFLHWJ26"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-VZZFLHWJ26");
    </script>
  </head>

  <body class="scroll-smooth">
    <Navbar />
    <main id="swup" class="wrapper">
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      .hide {
        display: none;
      }
      button,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button {
        overflow: visible;
      }
      button {
        text-transform: none;
      }
      button,
      [type="button"] {
        -webkit-appearance: button;
      }
      button {
        background: none;
        border: none;
        cursor: pointer;
      }
      #whatsapp-chat {
        box-sizing: border-box !important;
        outline: none !important;
        position: fixed;
        width: 350px;
        border-radius: 10px;
        box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
        bottom: 90px;
        right: 30px;
        overflow: hidden;
        z-index: 99;
        background: #fff;
      }
      .whatsapp-trigger-chat {
        background: #fff;
        color: #313131;
        border: 1px solid #4ad504;
        position: fixed;
        display: flex;
        font-weight: 400;
        z-index: 98;
        bottom: 25px;
        right: 30px;
        font-size: 1em;
        padding: 12px 24px;
        border-radius: 100px;
        box-shadow: 0 1px 5px rgba(210, 210, 210, 0.28);
        align-items: center;
      }
      .whatsapp-trigger-chat svg {
        transform: scale(1.2);
        margin: 0 10px 0 0;
      }
      .whatsapp-chat-header {
        background: #009688;
        background: #095e54;
        color: #fff;
        padding: 20px 20px 30px;
      }
      .whatsapp-chat-header p {
        font-size: 14px;
        line-height: 1.3;
        margin: 0 10px 10px;
      }
      .whatsapp-chat-header .whatsapp-chat-name {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 0;
        margin-bottom: 0;
        line-height: 0.5;
        float: left;
      }
      .whatsapp-chat-header .whatsapp-chat-name span {
        float: left;
      }
      button.close-chat {
        position: absolute;
        top: 5px;
        right: 15px;
        color: #fff;
        font-size: 30px;
      }
      .whatsapp-chat-avatar {
        position: relative;
      }
      .whatsapp-chat-avatar::after {
        content: "";
        bottom: 0px;
        right: 0px;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        background-color: #4ad504;
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        border: 2px solid #095e54;
        left: 40px;
        top: 38px;
      }
      .whatsapp-chat-avatar img,
      .whatsapp-chat-avatar svg {
        border-radius: 100%;
        width: 50px;
        float: left;
        margin: 0 10px 0 0;
      }
      .whatsapp-message-box {
        display: flex;
      }
      .whatsapp-message-box textarea {
        border: none;
        font-family: inherit;
        background: #fff;
        width: 100%;
        height: auto;
        outline: none;
        resize: none;
        padding: 5px 10px;
        font-size: 14px;
        max-height: 44px;
        line-height: 2;
        vertical-align: middle;
      }
      .whatsapp-message-box button {
        padding: 0 10px;
        background: #eee;
        border-radius: 0 0 10px;
      }
      .whatsapp-message-box button svg {
        fill: #a6a6a6;
        height: 24px;
        width: 24px;
      }
      @media screen and (max-width: 480px) {
        #whatsapp-chat {
          width: auto;
          left: 5%;
          right: 5%;
          font-size: 80%;
        }

        .whatsapp-trigger-chat {
          padding: 15px 12px;
          bottom: 10px;
          left: 30%;
          transform: translateX(-20%);
        }
      }
      .whatsapp-chat-body {
        padding: 20px 20px 20px 10px;
        background-color: #e6ddd4;
        position: relative;
      }
      .whatsapp-chat-body::before {
        display: block;
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.08;
        background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
      }
      .whatsapp-chat-bubble {
        display: flex;
        z-index: 1;
      }
      .whatsapp-chat-message-loader {
        background-color: white;
        width: 52.5px;
        height: 32px;
        border-radius: 16px;
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        margin-left: 10px;
        opacity: 0;
        transition: all 0.1s ease 0s;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
      }
      .whatsapp-chat-message-loader .ixsrax,
      .whatsapp-chat-message-loader .dRvxoz {
        height: 5px;
        width: 5px;
        margin: 0px 2px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        top: 0px;
      }
      .whatsapp-chat-message-loader .ixsrax {
        background-color: #9e9da2;
        animation-name: ZpjSY;
      }
      .whatsapp-chat-message-loader .dRvxoz {
        animation-name: hPhMsj;
      }
      .whatsapp-chat-message {
        padding: 7px 14px 6px;
        background-color: white;
        border-radius: 0px 8px 8px;
        position: relative;
        transition: all 0.3s ease 0s;
        opacity: 0;
        transform-origin: center top 0px;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
        margin-top: 4px;
        margin-left: -54px;
        max-width: calc(100% - 66px);
        text-align: left;
      }
      .whatsapp-chat-message .bMIBDo {
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.4);
      }
      .whatsapp-chat-message .iSpIQi {
        font-size: 14px;
        line-height: 19px;
        margin-top: 4px;
        color: #111111;
      }
      .whatsapp-chat-message .cqCDVm {
        text-align: right;
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        color: rgba(17, 17, 17, 0.5);
        margin-right: -8px;
        margin-bottom: -4px;
      }
      .whatsapp-chat-message::before {
        position: absolute;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        top: 0px;
        left: -12px;
        width: 12px;
        height: 19px;
      }
      .show {
        display: block;
        animation: swing-in-bottom-bck 0.6s
          cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
      }
      .hide {
        display: none;
      }
      @keyframes ZpjSY {
        0% {
          background-color: #b6b5ba;
        }
        15% {
          background-color: #111111;
        }
        25% {
          background-color: #b6b5ba;
        }
      }
      @keyframes hPhMsj {
        15% {
          background-color: #b6b5ba;
        }
        25% {
          background-color: #111111;
        }
        35% {
          background-color: #b6b5ba;
        }
      }
      @keyframes iUMejp {
        25% {
          background-color: #b6b5ba;
        }
        35% {
          background-color: #111111;
        }
        45% {
          background-color: #b6b5ba;
        }
      }
      @keyframes swing-out-bottom-fwd {
        0% {
          transform: rotateX(0);
          transform-origin: bottom;
          opacity: 1;
        }
        100% {
          transform: rotateX(-70deg);
          transform-origin: bottom;
          opacity: 0;
          display: none;
        }
      }
      @keyframes swing-in-bottom-bck {
        0% {
          transform: rotateX(-70deg);
          transform-origin: bottom;
          opacity: 0;
        }
        100% {
          transform: rotateX(0);
          transform-origin: bottom;
          opacity: 1;
        }
      }
    </style>
  </body>
</html>
