---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const { generator, site } = Astro;
const image = new URL("social.jpeg", site);
const description =
  "RochaGPT - Conectando pessoas, empresas e comunidades com IA. Simplifique a integração de IA com o ©WhatsApp e leve sua comunicação ao próximo nível com o RochaGPT, a plataforma que conecta pessoas, empresas e comunidades.";

// const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

// const resolvedImageWithDomain = new URL("social.jpeg", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "RochaGPT"
  : "RochaGPT - Conectando pessoas, empresas e comunidades com IA";
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon_io/favicon.ico" />
    <meta name="generator" content={generator} />

    <title>{makeTitle}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Lucy" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content={image} />

    <!-- <SEO
      title={makeTitle}
      description="O RochaGPT é uma plataforma de inteligência artificial que utiliza o GPT-3.5 da OpenAI para gerar respostas precisas e personalizadas em grupos ou chats privados do seu Whatsapp. "
      canonical={canonicalURL}
      twitter={{
        creator: "@MonkeyBranch",
        site: "@MonkeyBranch",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `RochaGPT - Conectando pessoas, empresas e comunidades com IA`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "RochaGPT - Conectando pessoas, empresas e comunidades com IA",
        },
      }}
    /> -->
  </head>

  <body class="scroll-smooth">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZZFLHWJ26"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-VZZFLHWJ26");
    </script>
  </body>
</html>
